<nav
  class="sticky flex flex-row bg-zinc-900 top-0 w-auto h-14 font-mono font-bold text-base text-gray-300 items-center text-center justify-evenly border-none"
>
  <a
    routerLink="/"
    class="hover:text-sky-600 hover:scale-110 transition duration-300 ease-in-out"
    >Portfolio Website</a
  >
  <div class="flex space-x-4">
    <a
      routerLink="/about"
      class="hover:text-sky-600 hover:border-b-2 active:border-b-2 active:text-sky-600 hover:border-sky-600"
      >About</a
    >
    <a
      routerLink="/projects"
      class="hover:text-sky-600 hover:border-b-2 active:border-b-2 active:text-sky-600 hover:border-sky-600"
      >Projects</a
    >
    <a
      routerLink="/contact"
      class="hover:text-sky-600 hover:border-b-2 active:border-b-2 active:text-sky-600 hover:border-sky-600"
      >Contact</a
    >
  </div>
</nav>
