<div id="screen" class="container bg-sky-600 w-auto content">
  <div>
    <div>
      <p class="font-mono text-2xl">Hi, I'm</p>
      <h1 class="font-mono font-extrabold text-5xl text-gray-300">
        Onabanjo<br />Oluwatobiloba John,
      </h1>
      <br />
      <p class="font-mono text-xl">
        A front-end developer aiming to design and develop<br />experiences that
        improve user experiences
      </p>
      <br />
    </div>
    <div class="flex flex-row">
      <a routerLink="projects"><button class="button bg-gray-300 rounded-lg">Check my projects</button></a>
    </div>
  </div>
  <div id="pic">
    <img src="" alt="" />
  </div>
</div>
